*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Big model files
*.bin
app/src/main/assets/gemma-2b-it-gpu-int4.bin
app/src/main/assets/gemma_3n_2b.part*
phi3_raw_weights/

# IDE and local files
.android/
.gradle-local/
